body {
  text-align: center;
  background-color: #3c70a4;
  color: #FEF2BF;
}

/* style titles */
h1 {
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;

}

/* hint cards animation */
.hint {animation: wiggle 0.5s}

@keyframes wiggle {
  0%{transform: rotate(0deg)}
  25%{transform: rotate(10deg)}
  75%{transform: rotate(-10deg)}
  100%{transform: rotate(0deg)}
}

/* style restart button */
#restart-btn {
  display: block;
  width: 20%;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #ff0000;
  padding: 20px 70px;
  font-size: 24px;
  border: 10px solid black;
  border-radius: 30%;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;

}

/* style hint button */
#hint {
  display: block;
  width: 20%;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #fb9224;
  padding: 20px 70px;
  font-size: 24px;
  border: 10px solid black;
  border-radius: 30%;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

/* style help button */
#help {
  display: block;
  width: 20%;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #f54291;
  padding: 20px 70px;
  font-size: 24px;
  border: 10px solid black;
  border-radius: 30%;
  margin: auto;
  cursor: pointer;
}

/* add hover effect for buttons*/
#restart-btn:hover, #hint:hover, #help:hover, .btn:hover{
  box-shadow: 0 0 30px white;
}

/* style scoreboard*/
#score {
  background-color: white;
  font-size: 3rem;
  height: 20%;
  width: 20%;
  color: black;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  border: 10px solid black;
  border-radius: 30%;
}

/* style remain card count*/
#remain {
  background-color: white;
  font-size: 3rem;
  height: 20%;
  width: 20%;
  color: black;
  margin: auto;
  border: 10px solid black;
  border-radius: 30%;
}

.placeholder {
  color: #3c70a4;
  visibility: hidden;
}

/* style card images*/
.card {
  height: 100%;
  width: 100%;
  border-radius: 20%;
}

.container {
  display: inline-block;
  width: 30%;
  margin: auto;

}

/* style card buttons*/
.btn {
  margin: 10px;
  display: inline-block;
  height: 100px;
  width: 15%;
  border: 5px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.row {
  display: block;
  margin: 0 auto;
}

/* add pressed effect for card buttons*/
.pressed {
  box-shadow: 0 0 30px white;
  background-color: grey;
}

.hidden {
  visibility: hidden;
}

/* style instruction box*/
#description{
  text-align: left;
  display: inline-block;
  border: 10px solid black;
  background-color: white;
  font-family: 'Anton', sans-serif;
  color: black;
}
