body {
  text-align: center;
  background-color: #3c70a4;
  color: #FEF2BF;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;

}

.hint {animation: wiggle 0.5s}

@keyframes wiggle {
  0%{transform: rotate(0deg)}
  25%{transform: rotate(10deg)}
  75%{transform: rotate(-10deg)}
  100%{transform: rotate(0deg)}
}

#start-btn {
  display: block;
  width: 100px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #ff0000;
  padding: 20px 70px;
  font-size: 24px;
  border: 10px solid black;
  border-radius: 30%;
  margin: auto;
  margin-bottom: 100px;
  cursor: pointer;

}

#hint {
  display: block;
  width: 100px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #fb9224;
  padding: 20px 70px;
  font-size: 24px;
  border: 10px solid black;
  border-radius: 30%;
  margin: auto;
  cursor: pointer;
}

#start-btn:hover {
  box-shadow: 0 0 30px white;
}

#hint:hover {
  box-shadow: 0 0 30px white;
}

#score {
  background-color: white;
  font-size: 3rem;
  height: 50px;
  width: 80px;
  color: black;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
  border: 10px solid black;
  border-radius: 30%;
}

.placeholder {
  color: #3c70a4;
  visibility: hidden;
}

.card {
  height: 100px;
  width: 80px;
  border-radius: 20%;
}

.container {
  display: inline-block;
  width: 30%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 100px;
  width: 80px;
  border: 5px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 30px white;
}

.pressed {
  box-shadow: 0 0 30px white;
  background-color: grey;
}
